<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is the home page </h1>
    <p> Nam dignissim purus in ante dignissim bibendum. Phasellus ac odio a urna accumsan placerat nec at sem. Praesent maximus id magna a eleifend. Pellentesque id ultrices arcu, sed aliquam ex. Morbi egestas risus in metus accumsan, quis vehicula felis convallis. Donec in suscipit magna, at mattis est. Sed eu gravida nisl, sagittis eleifend dolor. In sed arcu quis felis mollis aliquet.

        Nam vitae sodales metus, in interdum erat. Nullam ut maximus arcu, eget pharetra orci. Nunc velit augue, interdum vel elit sed, finibus vulputate nisl. Nulla ullamcorper ligula eget bibendum luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus hendrerit luctus tempus. Sed et nisi facilisis, faucibus leo et, malesuada est. In dapibus condimentum sapien id viverra. Morbi in hendrerit magna. </p>
</body>
</html>